<!doctype html>
<html>
  <head>
    <title>ChatNode v0.1.1</title>
  </head>
  <body>
    <form action="" id="resetmypass">
      <p class="reference">We will send you a recovery code to the email you have registered with our service.</p>
      <p class="reference">Just follow the instructions in the mail and everything will be just fine. I promise.</p>
      <input id="email" placeholder="Put your email here.." required />
      <div id="responsebox"></div>
      <button>Request Aid <i class="fas fa-ambulance"></i></button>
      <div id="errorbox"></div>
    </form>
  </body>
</html>