<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="" id="signupnode">
      <input id="email" placeholder="Email.." type="email" required/>
      <input id="username" placeholder="Username.." required maxlength="10" />
      <input id="password" placeholder="Password.." required type="password" />
      <input id="passwordVerify" placeholder="Repeat password.." required type="password" />
      <button>Sign Up</button>
      <div id="errorbox"><span></span></div>
      <p class="reference">Already have an account? <a href="/">Sign in</a></p>
      <p class="subinfo">All your information is collected for security purposes and usability of the app only.</p>
      <p class="subinfo">Passwords are encrypted, but it is still recommended that you do not use the same password as from your any other accounts.</p>
    </form>
  </body>
</html>