<!doctype html>
<html>
  <head>
    <title>ChatNode v0.1.1</title>
  </head>
  <body>
    <form action="" id="signinnode">
      <input id="login" placeholder="Email/Username.." required />
      <input id="password" placeholder="Password.." required type="password" />
      <button>Sign In <i class="fas fa-sign-in-alt"></i></button>
      <div id="errorbox"><span></span></div>
      <p class="reference">Forgot your password? <a href="/user/forgot">Reset password</a></p>
      <p class="reference">Want to create an account? <a href="/signup">Sign up</a></p>
    </form>
  </body>
</html>